{{#partial "content" }}
    <header class="transaction-header">
        <h1 class="transaction-header__title">Thank you</h1>
        <p class="transaction-header__next-step">Your report has been sent</p>
    </header>
    <div class="text">
        <h2 class="heading-medium">What happens next?</h2>
        <p>DVSA will investigate this report and decide on the best course of action.</p>
        <p>Investigations can take time and we can’t give updates on individual cases.</p>
        <p>You don’t need to do anything else.</p>
        <p><a href="{{continueLink}}">Continue to GOV.UK</a></p>
    </div>

{{/partial}}
{{> uk/gov/dvsa/moti/web/views/master }}