.gradle
/.idea/
/build/
core/build/*
processor/build/*
webapp/build/*
/moti-selenium/build/
/core/core.iml
/processor/processor.iml
/webapp/webapp.iml
/moti-selenium/moti-selenium.iml
/processor/config.yaml
/webapp/config.yaml
/moti-selenium/selenium-screenshots/*
