.gradle
/.idea/
/build/
/moti-selenium/target/
/moti-selenium/.idea/
core/build/*
processor/build/*
webapp/build/*
/core/core.iml
/processor/processor.iml
/webapp/webapp.iml
/processor/config.yml
/webapp/config.yml
