{{#partial "title" }}
    Report MOT fraud
{{/partial}}

{{#partial "lede" }}
    If you think someone is committing MOT fraud, you can report it.
{{/partial}}

{{#partial "content" }}
    <div class="text">
        <h2 class="heading-medium">What is MOT fraud?</h2>
        <p>MOT fraud happens when a person or a business breaks the rules for carrying out MOT tests on purpose, to cut corners or make profit.</p>
        <p>They could be issuing MOT certificates for vehicles that haven’t been tested or deliberately passing vehicles that should have failed.</p>
        <h2 class="heading-medium">How to help</h2>
        <p>Please give as much information as possible, for example:</p>
        <ul class="list-bullet">
            <li>a detailed description of the problem</li>
            <li>name and address of any person or business involved</li>
            <li>information about any vehicles involved, for example registration numbers</li>
        </ul>
        <p>Everything you provide will be anonymous.</p>
        <h2 class="heading-medium">What happens</h2>
        <p>DVSA will investigate the report.</p>
        <p>If there is enough evidence they may issue a warning or suspension from MOT testing.</p>

        <form action="#">
            <nav class="content-navigation">

                <a href="{{formLink}}" class="button button-start">Start now</a>
                <ul class="content-navigation__secondary">
                </ul>

            </nav>
        </form>
    </div>
    <div class="text">
        <h2 class="heading-small">Appeal an MOT test</h2>
        <p>If you’re unhappy with the result of an individual MOT test, do not report it here. <a href="https://www.gov.uk/getting-an-mot/problems-with-your-test-result">Appeal your MOT</a>.</p>
    </div>
{{/partial}}
{{> uk/gov/dvsa/moti/web/views/master }}