s3:
    sourceBucket:
        accessKey:
        secretKey:
        bucket: mot-intelligence-fb
        rootFolder: root/
    destinationBucket:
        accessKey:
        secretKey:
        bucket: mot-intelligence-fb
        rootFolder: root/
storage:
    maxDownloadedFilesLimit: 1000
    downloadedFilesPrefix:
    destinationFilePath: documents.tar.gz
tarFile:
    manifestFileName: documents-manifest.txt