{{#partial "title"}}
    <h1>This page cannot be found</h1>
{{/partial}}

{{#partial "lede"}}
        <br />
        <p>Please check that you have entered the correct web address, or explore <a href="/">DVSA MOT</a> to find the information you need. </p>
        <br />
{{/partial}}

{{> uk/gov/dvsa/moti/web/views/master }}