{{#partial "content" }}
    <header class="content-header">
        <h1><span class="content-header__title">Your session has timed out</span></h1>
    </header>
    <div class="text">
        <p>Because you haven't done anything for 20 minutes, your session has timed out.</p>
        <p>You'll need to <a href="{{url_form}}">start again</a>.</p>
    </div>
{{/partial}}
{{> uk/gov/dvsa/moti/web/views/master }}
