{{#partial "title"}}
    Sorry, we're experiencing technical difficulties
{{/partial}}

{{#partial "content"}}
    <div class="text">
        <p>Please try again later.</p>
    </div>
    {{> uk/gov/dvsa/moti/web/views/partials/tryagain }}
{{/partial}}

{{> uk/gov/dvsa/moti/web/views/master }}